<settings>
    <setting propertyKey="@Properties.OwnerName" title="@Strings.NameTitle" prompt="@Strings.NamePrompt">
        <settingConfig type="alphaNumeric" maxLength="16"/>
    </setting>
    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.SecondsTitle" prompt="@Strings.SecondsPrompt">
        <settingConfig type="boolean"/>
    </setting>
</settings>
